html, body {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Consolas monospace;
}

html, body, #main, #game-panel, canvas#simulation, #tree-panel {
  width: 100%;
  height: 100%;
  display: block;
}

#game-panel {
  float: left;
  width: 80%;

  .wrapper {
    height: calc(100% - 2em);
    & > canvas, & > div {
      border: 1px solid gray;
    }
  }

  .wrapper.hidden {
    display: none;
  }

  canvas {
    image-rendering: crisp-edges;
  }

}

#menu-panel {
  float: right;
  width: 20%;

  h2 {
    padding: 6px;
    margin: 0;
  }

  .wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    & > div {
      border: 1px solid gray;
    }
  }
}

div.wrapper {
  margin: 1em;
}

.panel {
  font-weight: bold;
  padding: 6px;
  margin-bottom: 4px;

  user-select: none;

  h3 {
    margin: 0;
  }
  span {
    font-weight: normal;
    font-style: italic;
  }
}

canvas#cell-tracker {
  width: 100%;
  height: 200px;
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas monospace;
  color: white;
  font-size: 10px;
  pointer-events: none;
}

#panel-gene-selection {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li, div {
    margin: 5px 0;
    padding: 18px;

    border: 1px solid gray;
  }
}

#panel-simulation-buttons {
  height: 82px;
  div {

    border: 1px solid gray;
    width: 45%;
    height: 40px;

    margin-bottom: 2px;
    float: left;

    line-height: 40px;
    text-align: center;

    &:nth-of-type(2n){
      float: right;
    }
  }
}

#panel-gene-selection li, #panel-gene-selection div, #panel-simulation-buttons div {



  cursor: pointer;
  background-color: #111111;

  &:hover {
    background-color: #222222;
  }

  &.active {
    background-color: #024802;
    &:hover {
      background-color: #135913;
    }
  }

  &.active.negative {
    background-color: #3e0202;
    &:hover {
      background-color: #4f1313;
    }
  }

  &.inactive {
    background-color: #333333;
  }

}

#tree-panel {

  position: relative;
  overflow: hidden;

  #tree-panel-backplane {
    width: 300%;
    height: 300%;

    overflow: hidden;

    position: absolute;

    & > .node-children {
      position: absolute;
    }
  }

  .node-spacer {
    opacity: 0;
    width: 0;
  }

  .node {
    .clear-float {
      clear: both;
    }

    &.node-pseudo {
      opacity: 0;
      width: 0;
      margin: 0;
    }

    display: inline-block;
    margin: 5px;
    text-align: center;


    span.fa {
      line-height: 40px;
      font-size: 2em;
    }

    .node-children > .node, .node-children > .node-spacer {
      float: left;
    }

    & > div {
      & > span {
        width: 40px;
        height: 40px;
        background-color: #111111;
        border: 1px solid gray;
        margin: 4px;
      }

      border: 1px solid gray;
    }

    &.node-root > div {
    }
    &.node-leaf {
      & > div {
        & > span {
          border: 0;
        }
        border-bottom-color: blue;
      }
    }
    &.node-seq > div {
      border-bottom-color: green;
    }

    & > div > .node-children > .node-spacer {
      font-size: 10px;
      position: relative;
      top: 6px;
    }

    & > div > .node-children > .node-spacer:not(:nth-last-of-type(2)) {
      opacity: 1;
      width: auto;
      margin: 4px;
    }

    &.node.node-pseudo:hover {
      // TODO while dragging
      background-color: green;
    }

    &.node-decorator {
      &.node-hoverable > div > .node-children {
        & > .node-pseudo:not(:first-of-type), & > .node-spacer:not(:first-of-type) {
          opacity: 0;
          width: 0;
          margin: 0;
        }
      }

      & > div > .node-children {
        & > .node:hover {
          // TODO while dragging
          background-color: yellow;
        }
        & > .node.node-pseudo:hover {
          // TODO while dragging
          background-color: green;
        }
      }


      & > div > .node-children > .node-pseudo:first-of-type {
        opacity: 1;
        width: auto;
        transition: visibility 0s, opacity 0.5s linear;
        margin: 4px;
      }
    }

    &.node-hoverable.hovered > div > .node-children {
      & > .node-spacer, & > .node-pseudo {
        opacity: 1;
        width: auto;
        transition: visibility 0s, opacity 0.5s linear;
        margin: 4px;
      }
    }
  }
}
