html, body {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Consolas monospace;
}

html, body, #main, #game-panel, canvas#simulation {
  width: 100%;
  height: 100%;
  display: block;
}

#game-panel {
  float: left;
  width: 80%;

  .wrapper {
    height: calc(100% - 2em);
  }
}

#menu-panel {
  float: right;
  width: 20%;

  h2 {
    padding: 6px;
    margin: 0;
  }

  .wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    & > div {
      border: 1px solid gray;
    }
  }
}

div.wrapper {
  margin: 1em;
}

canvas {
  image-rendering: crisp-edges;
  border: 1px solid gray;
}

.panel {
  font-weight: bold;
  padding: 6px;
  margin-bottom: 4px;

  user-select: none;

  h3 {
    margin: 0;
  }
  span {
    font-weight: normal;
    font-style: italic;
  }
}

canvas#cell-tracker {
  width: 100%;
  height: 200px;
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas monospace;
  color: white;
  font-size: 10px;
  pointer-events: none;
}

#panel-gene-selection {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 5px 0;
    padding: 18px;

    border: 1px solid gray;

  }
}



#panel-simulation-buttons {
  height: 40px;
  div {
    height: 40px;
    width: 45%;
    border: 1px solid gray;
    float: left;

    line-height: 40px;
    text-align: center;

    &:last-of-type{
      float: right;
    }
  }
}

#panel-gene-selection li, #panel-simulation-buttons div {
  cursor: pointer;
  background-color: #111111;

  &:hover {
    background-color: #222222;
  }

  &.active {
    background-color: #024802;
    &:hover {
      background-color: #135913;
    }
  }

  &.active.negative {
    background-color: #3e0202;
    &:hover {
      background-color: #4f1313;
    }
  }

}
